[2015-03-24 14:31] aesteve opened #1 "Provide a way to order filters"
[code]

=> when adding filter handlers, respect orders or just reorder the list once every filter has been discovered, but **before** Apex routes are created

[2015-03-24 14:32] aesteve opened #2 "ViewController"
Tests :

* Create test templates of each type
* call render() for each template file
* assert it's OK

[2015-03-24 14:35] aesteve opened #3 "MarkdownTemplateEngine"
Maybe it can be useful ? It's costless anyway, simply use pegdown.

No inheritance / composition etc. but :

* provide some kind of placeholder for injecting context.data() variables, maybe {{myVariable}}
* add a way (programmatic ? or in template ?) to specify some stylesheets for markdown styling
* wrap markdown directly into body, but generate a proper html template

Not sure it's useful.

[2015-03-24 14:43] aesteve commented on #2
Convention over configuration : usually templates are found by the methods name

`HelloController.sayHello()` will try to send the view : `views/hello/sayHello`

=> maybe provide a simple `render` method with no parameter ? Is it even possible ?

[2015-03-24 18:45] aesteve opened #4 "Add fixtures"
How do user provide fixtures ?

They should just implement an interface with two single methods that deal with domain objects.

* `setup(Vertx vertx)`
* `tearDown(Vertx vertx)`

User is responsible for creating and saving their domain objects, (since we can't do it for them, because of cascade relationships etc.)

In conf.json, the user should specify wich fixtures are run.

[code]

Then in `Vertx

[2015-03-24 18:47] aesteve opened #5 "Should controller packages be defined in config or programmatically ?"
?

[2015-03-24 18:51] aesteve opened #6 "i18n"
Provide everything so that i18n is straightforward to deal with for end-users.

This means : a `bundles` directory **out of src/main/resources** so that bundles can be hot-reloaded in a dev environment.

But package bundles into the application in other environments.

Plus :  Provide i18n utilities for every template engine.

[2015-03-24 18:57] aesteve opened #7 "Create static handler"
## Convention over configuration

By default, the static handler should be a `assets` folder in project's root directory, containing 3 subdirectories : `scripts`, `img`, `stylehseets`.

setDirectoryListing to false

[2015-03-24 22:37] aesteve opened #8 "Test pagination"
Write tests :

* PaginationContext reflects the request parameters when asked by user in controller
* Pagination links are provided in response when user sets nbTotalResults

[2015-03-24 22:39] aesteve opened #9 "Test throttling"
* No throttling if no annotation
* 420 returned when too many requests sent
* Wait then retry : no 420
* Requests on non-throttled paths are not counted

[2015-03-25 16:34] aesteve opened #10 "Integrate authentication"
OAuth / Oauth2 through annotations for API requests

`@Authentication` annotation on controller methods + provide Apex's way to handle authentication

[2015-03-25 16:36] aesteve commented on #5
Everything through configuration is more straightforward for end-users.

Don't mix between a configuration file and a programmatic API.

If users want to provide their config through a `JsonObject` they can instanciate the `JsonObject`

[2015-03-25 16:36] #5 closed

[2015-03-26 11:11] aesteve opened #11 "Parameters injection"
For now, we only have the RoutingContext as parameter but, an interesting feature would be to outbox and convert parameters for the end-users and inject it to the method.

Like : `public void search(RoutingContext context, SearchCriteria criteria)` where criteria is instanciated from request parameters.

First implementation possible, let user define their class by implementing an interface : from

[2015-03-27 10:11] aesteve commented on #6
Wait for  `getUserLocale` to appear in Apex.

see : https://github.com/vert-x3/vertx-apex/issues/80

[2015-03-27 10:50] aesteve commented on #9
OK for standard testing : find a way to test with a second client (with a different IP)

[2015-03-27 10:52] aesteve commented on #11
Standard parameters are injected with `QueryParam`, `PathParam`

Next step : marshall requests body as a "backing object" with a user provided marshaller (and defaults implementations : Boon for JSON, manually for XML ?)

[2015-03-27 10:53] #8 closed

[2015-03-27 10:53] aesteve commented on #8
Done

[2015-03-27 17:59] aesteve commented on #4
The fixture interface could have just 2 methods :
- startUp
- tearDown

We have to provide a Vertx instance, so that user can access the vertx, and the eventBus eventually.

Also, keep in mind that some async stuff could be done by the end-user in fixtures, so we should return a `Future`.

[code]

Fixtures should be loaded **after** vertx-mvc has been bootstrapped (obviously) but before doing anyt

[2015-03-27 18:04] aesteve opened #12 "Refactor the VertxMVC class"
For now, everything we do in VertxMVC is blocking (reflection stuff).

In the future (see #4 ) there could be async stuff => VertxMVC should return `Future<Void>`, especially if users bootstrap from their own verticle.

Also, keep the reflection stuff and route reflection discovery out of this class. This class should only be a conductor for every kind of bootstrapping stuff :

* routes by reflect

[2015-03-27 18:20] aesteve commented on #11
TODO :
- handle a lot more object types out of the box : Decimals, Dates, Enums
- Something like : `@RequestBody("some.node") MyObject stuff` => populate by reflection (or a lib like boon for Json)
- handle `FormParam` or even better `FormBackingObject` (same kind of stuff than above)
- handle fileuploads (maybe not... will need for the whole file to be transferred, ...) Especially if users just w

[2015-03-28 15:53] aesteve commented on #12
Done

[2015-03-28 15:54] #12 closed

[2015-03-28 15:58] aesteve commented on #11
Done :
- `Param` for both query and forms params (i.e. `context.request().params()`)
- `Params` for backing a set of params onto an object by reflection
- `RequestBody` to unmarshall request body in case it's an API
- automatically attach bodyhandler to every POST and PUT requests

[2015-03-28 15:58] #11 closed

[2015-03-28 15:59] aesteve opened #13 "Facility for handling FileUploads"
`@StoreTo(path)` ? or something like that.

For now, let users deal with since it can be done manually using Apex.

But think about a set of annotations to deal with file uploads.

[2015-03-28 20:13] aesteve commented on #7
created : no inner structure for now, is it important ?

[2015-03-28 20:13] #7 closed

[2015-03-28 20:14] aesteve commented on #4
Done

[2015-03-28 20:14] #4 closed

[2015-03-29 15:02] aesteve opened #14 "Test @RequestBody"
Standard request body parsing (same as `@Params` ) and using Boon in case of a JsonApi

[2015-03-29 18:19] aesteve commented on #14
Done

[2015-03-29 18:19] #14 closed

[2015-03-29 18:23] aesteve commented on #2
No convention over configuration for now.

Simply annotate the method as `@View("my/template/view.hbs")` and voila.

[2015-03-29 18:23] #2 closed

[2015-03-30 10:06] aesteve opened #15 "Provide access to the session"
`public void myMethod(Session session)`

~ same implementation as cookies.

Use LocalStore or ClusteredStore ?

[2015-03-30 10:22] aesteve opened #16 "Refactor Cookie handling"
Existing now :

[code]

That's probably not consistent with dependency injection used everywhere else.

Keep this annotation if some user just wants to set a cookie but won't read any (and rename it `@SetsCookie` ?)

Moreover provide another annotation :

[code]

If the parameter type is `Cookie` then simply inject `context.getCookie(annotation.value())` else if it's a String inject `context.getCo

[2015-03-30 17:26] aesteve commented on #10
And :
- Login facilities (i.e. login view ?)
- redirect automatically to login view when user is not authenticated
- authentication against some services (Auth providers)
- inject session when the user asks for it it

wait for : https://groups.google.com/forum/#!topic/vertx-dev/Z2k4CKDW8HA before working on it

[2015-03-30 17:27] aesteve commented on #15
duplicate : #10

[2015-03-30 17:27] #15 closed

[2015-04-01 10:04] aesteve opened #17 "Use Annotation Processor Tool to generate classes / url / ..."
For example, with APT :

`@Param("myParam") String myParam` could be replaced by `String myParam`

[2015-04-01 13:24] aesteve opened #18 "Use RXJava ?"
In order to replace MultipleFutures and maybe some other stuff.

[2015-04-01 17:08] aesteve opened #19 "Provide utilities on Vertx client"
Since Boon is already used for marshalling, it could be costless to provide a layer on top of `vertx.createClient()` to wrap `BodyHandler` and directly map it onto a Java object.

Maybe something like :

[code]

[2015-04-03 13:00] aesteve opened #20 "Rename project"
... And find a name.

Candidates :

* `caelum` (sky in latin)
* `supra` ("on top of" in latin)
* `nubes` (clouds in latin)

Since Apex means summit in Latin, and the framework runs on top of Apex, the only things that remain are either the sky, or maybe the clouds.

Different approaches to look at :

* transverse
* introspective
* extract ( `estrep` )
* construct
* detach, explode ( `explosio`)
*

[2015-04-03 13:21] aesteve opened #21 "Handle sync methods"
When a route is very simple calling `context.next()` every time could be a pain (not to mention users will forget when they don't do async stuff).

So, if the method doesn't declare a `RoutingContext` parameter, call `context.next()` programatically once the method has returned.

[2015-04-03 13:27] aesteve opened #22 "Handle return parameters"
At least for sync methods ( #21 ) :  when a method doesn't use the `RoutingContext` (so that we're sure context.next() is not called before returning ??)

Dependeing on the controller class we could do different stuff.

In an `APIController` we'll marshall the return type, or just prepare response if it's a String, or a JsonObject,

In a `ViewController` we'll assume that's the view name if it's a

[2015-04-03 13:38] aesteve opened #23 "Should method names be considered as paths ?"
( Should we add more convention over configuration )

Example for an `ApiController` :

`OrdersApiController` would be mapped on `apiMountPoint/orders` its `getMyOrders` method would then be mapped on `GET apiMountPoint/orders/myorders`

If and only if the method is public and note annotated as a filter.

Example for a `ViewController` :

`CartViewController` would be mapped on `/cart` and its `ge

[2015-04-04 20:03] aesteve opened #24 "Provide a way to order fixtures"
`abstract public int executionOrder`

[2015-04-04 20:05] #24 closed

[2015-04-05 07:31] aesteve opened #25 "Generalize the API"
1. provide on `VertxMVC` :
* `registerClassAnnotation(Annotation annotation, Handler<RoutingContext> handler)`
* `registerMethodAnnotation(Annotation annotation, Handler<RoutingContext> handler)`

2. Use them for `@UsesCookies`, `@Throttled`, ...

3. Make `ParameterAdapter` an interface
* provide `registerParameterAdapter(Class<?> clazz, ParameterAdapter adapter)`
* if it does match use it, else d

[2015-04-07 11:53] #25 closed

[2015-04-07 12:13] aesteve commented on #20
On a completely different approach :

**sark**
- Sark is a channel island, like Guernsey or... Jersey.
- It's very small compared to Jersey.
- Cars are banned, there's not ot lot of light at night : it's pretty archaic.

[2015-04-09 07:43] aesteve opened #26 "Service injection"
Just like fixtures, provide a service interface.

Instanciate services and inject them into controllers when bootstrapping.

[2015-04-09 09:13] aesteve opened #27 "Add defaults ErrorHandler"
And provide a way to map them on a specific content-type

In VertxMVC :

`router.failureHandler(failureHandlerRegistry)`

FailureHandlerRegistry :

[code]

And in `PayloadMarshaller` interface, add a `marshallError(Throwable t)` method.

And add the implementation into JSONPayloadMarshaller.

Also, provide a configuration option to tell the framwork to include stacktraces in errors or not.

[2015-04-09 17:09] aesteve opened #28 "Provide utilities for blocking methods"
Wrap method invokation by executeBlocking.

Might be weird if an user calls context.next() from within the blocking method

[2015-04-09 21:19] aesteve commented on #16
Done

[2015-04-09 21:19] #16 closed

[2015-04-12 06:36] aesteve opened #29 "Handle redirects"
1. Client redirect (easy)
2. Server redirect (forward) : that's the hard part : should merge one route onto another

[2015-04-13 11:30] aesteve commented on #26
Done

[2015-04-13 11:30] #26 closed

[2015-04-15 16:41] aesteve commented on #20
Renamed in GitHub => find/replace any VertxMVC occurrence

[2015-04-15 16:41] #20 closed

[2015-04-16 07:58] aesteve commented on #10
keep an eye on : https://github.com/vert-x3/vertx-apex/issues/81

[2015-04-16 14:54] aesteve commented on #29
Done

[2015-04-16 14:54] #29 closed

[2015-04-17 06:14] aesteve commented on #27
implemented -> test it

[2015-04-17 06:15] aesteve commented on #28
Implemented -> test it

[2015-04-20 12:57] aesteve commented on #28
Doesn't work because `context.next()` isn't called in the right context.

Take a look at : https://github.com/vert-x3/vertx-apex/pull/97

This should be straightforward to map the annotation onto this new utility method.

[2015-04-20 13:06] aesteve opened #30 "Provide a pipeline API"
What is a pipeline ?

It's a way to transform resources either at runtime (dev environment) or at startup or at build time (and then the framework doesn't care).

We could offer a pipeline API which would associate a resource to its built equivalent and map it to one single path. And then would transform it or not dependeing on the context.

Example
[code]

Pretty complicated to explain, not that

[2015-04-20 13:19] aesteve commented on #30
So the pipeline interface could look like this :

[code]

In case of sass files for instance :

[code]

[2015-04-20 15:24] #1 closed

[2015-04-24 12:17] aesteve commented on #28
thank you so much @stephane-bastian :)

[2015-04-24 12:17] #28 closed

[2015-04-27 14:55] #22 closed

[2015-04-29 09:01] aesteve opened #31 "Routing DSL"
Maybe a Groovy DSL (routing file) could be something interesting to look at (in complement of annotations) :

[code]

[2015-05-13 08:22] aesteve commented on #31
see https://github.com/aesteve/apex-groovy-dsl

[2015-06-08 15:26] aesteve opened #32 "Use CompletableFuture"
Since the project is Java only, we can make intensive use of CompletableFuture and especially `allOf` and `join`.

Keep that in mind and replace MultipleFuture and stuff.

(btw see `vertx-feeds` for a better implementation of MultipleFuture)

[2015-06-15 08:02] #18 closed

[2015-06-15 08:03] aesteve commented on #10
First draft is done with `@Auth(method=AuthMethod.BASIC, authority="admin)`

[2015-06-15 08:03] #10 closed

[2015-06-15 08:08] aesteve opened #33 "ViewResolver"
`@View("nameoftheview")` is nice but limited.

Sometimes the view name will be dynamic.

So provide a `ViewResolver` parameter user can add to their method to set the name of the view. dynamically (i.e. `if(somethingWenWrong) { resolver.resolve("failure.hbs") }` )

[2015-06-15 17:57] aesteve commented on #33
implemented, tested

[2015-06-15 17:57] #33 closed

[2015-06-18 06:27] #32 closed

[2015-06-18 06:27] #31 closed

[2015-06-19 14:46] #6 closed

[2015-06-29 09:46] ldallen opened #34 "eventbus and services"
Hi !
I'm trying to build some small examples with nubes, and I would like to be able to communicate with a client through the eventbus.
I just created an echo service which reply every message received at "service.echo" address on the eventbus, and I tried to send a message to the same address on the client side, but it's not working.. In fact, the message sent by the client is received correctly

[2015-06-29 10:49] aesteve commented on #34
Hi L-M :)

First, what do you mean by "client", a Javascript client accessing the eventbus through the browser ?

In this case no, it's not implemented yet unfortunately, I'm working on it.

Vert.x provides an [event bus bridge](http://vertx.io/docs/vertx-web/java/#_sockjs_event_bus_bridge) to be accessed by Javascript clients.

I wanted to add an `@EventBusBridge` annotation on top of SockJS cont

[2015-06-29 11:08] aesteve opened #35 "Provide an EventBusBridge"
`@SockJS` controllers could be annotated with `@EventBusBridge` to act as an eventbus bridge for Javascript clients.

See : http://vertx.io/docs/vertx-web/java/#_sockjs_event_bus_bridge

Problem is : [the security](http://vertx.io/docs/vertx-web/java/#_securing_the_bridge) options for the bridge, which are specified in vertx-web thanks to [PermittedOptions](http://vertx.io/docs/apidocs/io/vertx/ex

[2015-06-29 11:35] ldallen commented on #34
Thanks for your quick answer! :-)

Yes I'm using a js client, so that's why it's not working...
Ok now I see why it has not been implemented yet!
I developped a vertx-web app using the eventbus, and I think it would be great to have some equivalent to the permitted options, even though it seems not to be easy to do... I will think about it, if I find a solution I would be happy to help you!

Other

[2015-06-29 12:10] ldallen commented on #35
What you suggest is a good solution imo.
Maybe adding some optional parameters for the Inbound/Outbound annotations would be great, in order to be able to add some required authority when it is necessary.
I don't know if it's possible, but maybe you could put the inbound/outbound permitted options into the config file, in order to avoid to have a class definition with 10 annotations...

[2015-06-29 17:22] aesteve commented on #35
See : https://github.com/aesteve/vertx-nubes/blob/master/src/test/java/mock/controllers/sockjs/EBBridgeDefaultController.java

It should do what you need for now. It [should be tested automatically](https://github.com/aesteve/vertx-nubes/blob/master/src/test/java/integration/sockjs/TestEventBusBridge.java).

I also implemented the Inbound/Outbound permitted options but didn't write any test yet. S

[2015-06-29 17:24] aesteve commented on #34
See #35

[2015-06-29 17:24] #34 closed

[2015-06-29 17:26] #27 closed

[2015-06-30 07:24] ldallen commented on #35
Hi Arnaud,

Thank you for this implementation, you're very reactive! I will try it today :)

[2015-06-30 07:57] ldallen opened #36 "Error loading jaxb.index"
Hi !

I don't know if it's just with my computer, but when I try to start the nubes tests, I got some error like this :
"mock.domains"  doesnt contain ObjectFactory.class or jaxb.index
If I comment the line which loads the domain package, I can run the tests (90/94 passed).
Is it an issue or just intelliJ ?

[2015-06-30 08:06] ldallen commented on #35
Tested with a js client, it works well! :)
I even tried with Inbound/Outbound permitted options, it seems to work too! I will let you know if I face any bug or unexpected behavior.

[2015-06-30 08:58] ldallen commented on #35
Hi it's me again !
I did face an issue when trying to declare more than one Inbound option, so I changed your code a bit to allow repeatable annotations for Inbound/Outbound. Do you want me to post the changes here ?

[2015-06-30 11:10] aesteve commented on #35
I must have missed something obvious, it was intended to be possible.

Could you submit a Pull request please ?

[2015-06-30 11:12] aesteve commented on #36
I'll take a look this evening. It must be IntelliJ related.

Tests are running fine with both Eclipse JUnit Runner and `gradlew`.

Not sure I'll keep the `jaxb.index` stuff, too, I'll probably just scan the `domain-package` property value and inject every class found in the JAXBContext, that would solve the problem and people using XMLMarshaller wouldn't need to define a `jaxb.index`.

I have to f

[2015-06-30 11:38] ldallen commented on #35
Pull request submitted ! :)

[2015-06-30 18:00] aesteve commented on #36
I removed jaxb.index and scan the domain package manually instead. You should be able to launch unit tests now.

[2015-06-30 20:48] aesteve commented on #35
Thanks a lot for the PR.

Address & AddressRegex + Multiple rules are tested automatically now.

Still need to test the authority.

[2015-06-30 20:48] #36 closed

[2015-06-30 22:01] aesteve opened #38 "Provide Mixins"
Allow users to compose their controllers with mixins so that they can reuse logic.

For example, they could declare a `LoggingMixin` this way :

[code]

Then in `MyApiController` :

[code]

[2015-07-01 07:50] aesteve opened #39 "Create NubesVerticle"
Relying directly on config so that it's more convenient to start a NubesServer (if user doesn't care about the router).

[2015-07-02 11:06] aesteve opened #40 "Provide CORS utilities"
1. in config.json
2. controller / controller ; route / route `@CORS("*")`

[2015-07-02 17:51] #21 closed

[2015-07-06 08:15] aesteve opened #41 "@ServiceProxy(String) & @Proxify(String)"
Service proxies are a great feature of Vert.x 3

1. When an interface is marked as `@ProxyGen`, a class is generated by the compiler to communicate through the event bus. But still, we have to create the code to mount it to a specific eventBus address.

2. Another interface is generated to access the service on a specific address remotely.

Examples :
1. https://github.com/aesteve/vertx-markdown-s

[2015-07-06 11:14] #41 closed

[2015-07-07 19:25] aesteve commented on #39
Implemented by @ldallen

[2015-07-07 19:25] #39 closed

[2015-07-07 19:25] #35 closed

[2015-07-07 19:27] aesteve opened #43 "Run tests with two different configurations"
* Run tests the normal way with VertxNubesTestBase
* Run tests with NubesServerTestBase

Maybe we could do that with Junit `@Rule`

For now NubesServer is out of the test scope, which is unwanted.

[2015-07-16 09:37] aesteve opened #45 "@CSRF"
Rely on https://github.com/vert-x3/vertx-web/pull/155

* create an annotation `@CSRF(String)`
* create an annotation processor using the value of the CSRF annotation

Maybe this could lead to new mechanisms in Nubes.

[2015-07-23 21:14] apatrida opened #47 "Is Boon a safe option, we have had VM crashes caused by Boon"
Is Boon a safe option?  Here is my opinion:  no.

For speed optimizations the code makes assumptions about internal class layouts, arrays, etc and doing simple things as a custom deserializer caused Java VM crashes.  And that library brings in all sorts of errant utilities.

It has code in JsonFastParser that says it might cause memory leaks, so at least avoid that parser.

Also look in the code f

[2015-07-23 21:35] apatrida opened #48 "User method parameter names instead of requiring @param or pathparam type annotations"
Java 8, Kotlin, and others have parameter name information available for methods.  So `@Param("from") from: Int` us redundant.  Vert.x is Java 8 or higher.  Although Java 8 requires you compiling with parameter names turned on.

For languages like Kotlin you could have a plugin return the names of parameters for you if you don't want to figure out how to do that.  Same plugin model could support J

[2015-07-23 22:04] apatrida opened #49 "View support should change to be same as JSON marshalling result, with view annotation"
Having views add to a data bag isn't allowing using concrete view objects at the top level.  And why not just make it identical to how you would do JSON/XML marshalling for a REST call.  You return an object, and if there is a `@View("viewname")` annotation it hands the returned object to the view as the model.

Then you can have one method which can have a view when accepts is set to html, and no

[2015-07-24 07:53] aesteve commented on #47
Thanks for your insight. Looks like you had trouble in the past with Boon. I haven't faced any issue myself so far (even with other projects).

So you're furtively suggesting to use Jackson, am I right ? Would it be as convenient as Boon for end-users (annotations are available iirc, long time since I didn't work with Jackson, custom adapters ?).

What about performances ?

[2015-07-24 07:58] aesteve commented on #48
Thanks a lot.

I'll definitely refactor all the method introspection code using the JDK 8 API next week, and therefore use parameter names if `@Param` has no string parameter.

`@Param(String)` should stay, just in case users want to do some tricky stuff. But `@Param` should rely on parameter's name, you're absolutely right.

[2015-07-24 08:18] aesteve commented on #49
Wow, a lot of things here. Let me try to clarify, since I'm not really sure I understand all of your points.
1. "ModelAndView"

I'm not sure what you mean by "view objects at the top level" along with Vert.x's template engines.

All templates engines implementations rely on a Map as a "view object" if I'm not mistaking. And this map is `RoutingContext.data()`. There's no "ViewObject" the same way

[2015-07-27 12:01] apatrida commented on #47
I use Jackson, and performance is fine.  It is one of the most used JSON frameworks.  They have a Jackson-jr with less features that might also work.  But for easy binding there are methods on ObjectMapper that can go from any input to any output data type.  Useful.

[2015-07-27 12:05] apatrida commented on #49
I'm actually not sure jaja.  We have moved away from views in the app and do most client-side now.  But we have some that are both API + View from same endpoint because it is the same action for us with a different output format.  That is less of the issue I was really intending to address, than having it be such a different style of data.put() or data.add() instead of just returning the model for

[2015-10-31 11:12] aesteve commented on #48
Done

[2015-10-31 11:12] #48 closed

[2015-10-31 11:13] #9 closed

[2015-11-08 11:34] RdeWilde opened #50 "Maven support?"
Can I use this project into my maven structure?

[2015-11-08 12:20] aesteve commented on #50
checkout the project (git clone) then run `gradle install` and it will install the project into your local maven repo.

then in your `pom.xml`, add a dependency to : `com.github.aesteve.vertx.nubes:vertx-nubes:0.1-SNAPSHOT`

[2015-11-08 12:21] aesteve commented on #50
As soon as I'm happy with a version, I'll publish it to maven central. But I'm still working on the project at the moment.

[2015-11-08 12:42] RdeWilde commented on #50
Great, thanks!

[2015-11-08 13:11] #50 closed

[2015-11-18 15:13] #3 closed

[2015-11-27 17:34] aesteve opened #51 "Increase code coverage"
See `jacocoTestReport` for more infos :

# Errors
NotFound, Validation, ... And also RuntimeException marshalling in
* json
* xml
* plainText
* in pure HTML (500, 400, ...) (tests stacktraceprinter)
* http status (`context.fail(400)` in XML)

# unit tests for DateUtils (with TimeZone)

# PaginationContext

# Wrong configuration => the right error is thrown at startup (or use `Objects.requireNonNul

[2015-11-30 13:20] #43 closed

[2015-12-16 22:16] villesau commented on #49
I actually also noticed the way to use views. I would always avoid to put data to passed in variables, but just return the data instead. It's clearer and more convenient way to do it. i never modify the objects what have been passed into the method. The idea of @View("viewname") was also pretty nice imo. btw the project looks really nice, great work! :)

[2015-12-17 21:58] villesau opened #52 "improve readme"
i noticed the readme lacks the instructions like how to get the nubes, how to run the server etc. I didn't find nubes from maven or anywhere. vertx-jersey has a good starter guide here: https://github.com/englishtown/vertx-jersey i was almost going with that until i noticed how terrible their api is compared to yours. to get more hype, starting with the framework has to be as easy as possible so m

[2015-12-17 22:12] aesteve commented on #52
You're completely right.

To be honest, I was waiting 3.2.0 to add an OAuth2 annotation then release Nubes 1.0.

So for now, it's absolutely normal that you can't find it anywhere.

Christmas holidays are close :)

It'll let me some type to finalize the 1.0 release (and push it to bintray).

If you're not afraid (or really in a hurry !) and are channeling the soul of an early adopter, you can stil

[2015-12-21 15:04] #49 closed

[2015-12-21 15:34] aesteve commented on #47
I'll have a look for 2.0.

If it doesn't introduce any breaking change I'll change boon for Jackson for 1.1.

[2015-12-21 15:39] aesteve commented on #23
Major change => 2.0

[2015-12-21 15:40] #17 closed

[2015-12-21 15:40] #19 closed

[2015-12-31 09:08] aesteve commented on #52
1.0 has been released to jcenter. Could you tell me what you need to help you getting started, what are you looking for exactly ?

It's pretty hard for me to see Nubes from an external point of view. I'd be happy to :
- help you getting started
- combine the tips in some documentation

Just tell me :)

[2016-01-12 03:14] sixman9 opened #53 "Is Nubes JAX-RS/Jersey compliant?"
Apologies if this seems like a noob question* but, is Nubes JAX-RS-compliant implementation?

I am aware of [vertx-jersey][1]

Cheers

\* lol!
[1]: https://github.com/englishtown/vertx-jersey

[2016-01-12 09:25] aesteve commented on #53
Hi and thanks for your comment :)

No it's not. It hasn't been designed to be.

You may want to have a look at [vertx jersey](https://github.com/englishtown/vertx-jersey) which is, I think, JAX-RS compliant.

[2016-01-12 09:25] #53 closed

[2016-01-14 07:37] asthanasid opened #54 "No library in jcenter repository"
Gradle is not being able to resolve dependency 'com.github.aesteve:nubes:1.0' from jcenter.

[2016-01-14 09:27] aesteve commented on #54
Thanks a lot, there was a problem with my bintray maven repo.

It should be fixed soon. I'll let you know as soon as it is available.

[2016-01-15 13:10] aesteve commented on #54
I received an email from bintray. It should be [available now](https://bintray.com/aesteve/maven/nubes/view)

Thanks again for the report.

[2016-01-15 13:10] #54 closed

[2016-01-15 14:32] asthanasid opened #55 "Could not get my controller method to execute"
Please find attached the controller class. I can see that the route is added in the vertx web router at /data/dashboard. But when i execute /data/dashboard url i get a not found message on browser. Cant find any thing in the documentation where i might be going wrong
[RestController.txt](https://github.com/aesteve/nubes/files/92017/RestController.txt)

[2016-01-15 15:21] aesteve commented on #55
See : https://github.com/aesteve/nubes-issue-55

It should do what you want.

If you could submit a small runnable example when you have an issue it would help me alot.

Since I can :
- clone it,
- run it,
- see what's wrong with your code,
- correct it,
- send you a pull request.

For instance here the issue is probably not within the code you sent me :(

[2016-01-15 16:25] aesteve opened #56 "Use composable futures instead of MultipleFutures"
see https://github.com/eclipse/vert.x/pull/1281

[2016-01-15 17:44] asthanasid commented on #55
I have put the code which is not working for me here

https://github.com/asthanasid/nubes-issue-55

one difference is that i am using the convention if 'src-package' key instead of specifically mentioning controller packges, but i guess it should not make a difference.

[2016-01-15 18:00] aesteve commented on #55
I'll have a look tomorrow, I don't have enough time this evening, sorry :(

The major difference is not the `src-package` but the way you instantiate the router. You're creating a router, passing it to nubes, but you're attaching it to the httpserver before nubes is bootstrapped.

Try moving : https://github.com/asthanasid/nubes-issue-55/blob/master/src/main/java/com/collatrice/frontend/FrontEnd.j

[2016-01-15 20:34] asthanasid commented on #55
It worked when initializing the http server after nubes bootstrap. It did not need the asynch version of start though! will need experiment to what difference does it make.

Thanks for the pointer :) I guess i am still getting my head wrapped around ways of Vertx. Its kind of weird that eventbus need to be/can be initialized after http server but routes cant be added

[2016-01-15 20:34] #55 closed

[2016-01-16 07:34] asthanasid opened #57 "Session management through nubes"
There are cookie examples but i could not find session management. Is there a way to ensure session management or Vertx-web session handler should be used? I would prefer not to write my own cookie for session management.

[2016-01-16 10:52] aesteve commented on #57
iirc : simply declare `Session` as parameter of your method, and use it.

[2016-01-16 21:11] asthanasid commented on #57
Nope. the method throws a null pointer exception for `Session`. I tried both, with and without explicitly setting a `SessionHandler` on the router. I could see in the nubes code that `CookieHandler` is being set but could not find anywhere in the code where a `SessionHandler` is being set. Is there an example i can use?

[2016-01-16 21:52] aesteve commented on #57
I'll have a look tomorrow. Auth/Session is the only part of the code I didn't write myself.

(the only place a sessionhandler is set is when you're using an auth provider)

[2016-01-17 12:40] aesteve commented on #57
"Version 1.1 should be available shortly" according to bintray.

You should be able to use the Session as a method parameter even though you're not using a built-in authentication mechanism.

Let me know if it suits your needs or not :)

[2016-01-17 14:23] asthanasid commented on #57
Couple of things:
- I marked one of my controller methods with `Auth` annotation and other one was not marked. I did not provide any `AuthProvider`. Both paths were served. I was expecting it to throw an exception. Dont know if this is the way it should be
- I provided a `ShiroAuth` provider ( as this is what i want to use in my app ).
  - For the path _not marked_ with `Auth` annotation, cookie `

[2016-01-17 14:40] aesteve commented on #57
OK. I'll try to rework the auth part completely.

I'm not using it myself (since I've always been using using custom authentication services) and as I mentionned earlier, I did not write this part of the code. I'm not happy with the way it's configured, too.

So I guess it's time (and OAuth2 support coming in vert.x 3.2 has to be added, too) to rewrite this part of Nubes properly.

For the cookie

[2016-01-17 18:52] asthanasid commented on #57
And may be a login and logout handler annotation on a controller method because nubes is injecting the `AuthProvider` which is needed by the `FormLoginHanlder`

[2016-01-25 13:00] asthanasid commented on #57
Would you be taking this up soon? Or can I get started on a fork?

[2016-01-25 13:22] aesteve commented on #57
I'm in the middle of a move to another city, which means (aside a very very busy schedule) I probably won't be connected to the internet in the upcoming weeks.

If you feel like working on a fork, the licence allows it, so feel free, np at all,

I'll give it a look and help you as soon as I'm able to.

[2016-01-25 14:32] asthanasid commented on #57
I will need some opinion! Don't to digress away from the library's core philosophy.
For sessions, I am planning to add a type annotation `SessionEnabled` to`VertxNubes` and `NubesServer`. So a `SessionHandler` will be set on all routes if initialized as `@SessionEnabled VertxNubes nubes = ...`

Does it seem ok?

[2016-01-25 14:46] aesteve commented on #57
That sounds good on a philosophical point of view :)

.Be careful with the implementation though, I guess if a route is already annotated with auth-realated stuff, the sessionhandler will be attached to the route (be careful you don't attach it twice in that case ;) )

Also, there are a ton of unit tests, you can run them to make sure you didn't break anything (there's ~85-90% code coverage). And

[2016-03-02 12:31] darekxan opened #58 "vertx 3.2.1 support"
We are using nubes along with many other libraries that depend on vertx.

All of them depend on vertx 3.2.1, nubes just refuse to work with it. When packing to fat-jar, the version of vertx packed 3.21, because of other libraries.
I know thats due to introduction of CompositeFuture, and the real task is is to migrate to the new API.

However, this is larger task and needs to be done carefully.

Bu

[2016-03-02 18:34] aesteve commented on #58
Thanks alot for the PR.

Available in v1.2.

[2016-03-02 18:34] #58 closed

[2016-04-08 05:13] aesteve opened #60 "Use attribute name for service name resolution"
cf. main documentation :

[code]

Should have a shortcut :
[code]

since `mongo` is the name of the attribute.

[2016-04-23 10:36] aesteve opened #61 "Support RxJava observables"
Any method should be able to return an `Observable`

[2016-04-23 10:38] #23 closed

[2016-05-01 12:27] aesteve opened #62 "Use JSR 303 for bean validation"
Whenever mapping body to a method parameter, check if bean validation is available is in the classpath. If it is, use it to validate the bean or fail with 400 and a proper error message.

[2016-10-24 07:09] aesteve commented on #47
Done in 34750d74ab5d4ce2249fb6c77966df262d5d77a2

[2016-10-24 07:09] #47 closed

[2016-10-24 07:26] aesteve commented on #56
That's gonna be a very very tough one.

@vietj if you ever see this  notification, have a look at [this kind of stuff](https://github.com/aesteve/nubes/blob/master/src/main/java/com/github/aesteve/vertx/nubes/utils/async/MultipleFutures.java#L123-L126) to see if you're interested in such an implementation for `CompositeFuture`.

Also, the `MultipleFuture` I did before `CompositeFuture` was created

[2016-10-24 07:26] #56 closed

[2016-12-11 23:54] manish-panwar opened #64 "Do you guys support RateLimiter or something similar"
Hey Guys,

I see that you have an option for Throttling in configuration but there is TODO on top of documentation. I am wondering if you support throttling out of the box?

Thanks,
Manish

[2016-12-12 18:16] aesteve commented on #64
[Yes](https://github.com/aesteve/nubes/blob/67d1aaa6b5a27e6349aba3d5dcc447054f9c274a/src/main/java/com/github/aesteve/vertx/nubes/Config.java#L143-L151). Based on remote address though, which might or might not be what you're needing.

There's a test, too.

[2016-12-12 18:16] #64 closed

[2017-01-14 00:55] FunnyDevs opened #65 "Start VertxNubes"
Hi! How can i start a VertxNubes???
With Vertx i create a main class and deploy a Verticle.

[2017-01-14 07:54] aesteve commented on #65
Nubes just gives you a `Router` instance, based on the classes it will scan in your classpath.

Just create a `VertxNubes` instance, `bootstrap` it and you'll get your `Router` back (asynchronously). Use this router just the same way you're using it in a Vert.x-Web context.

https://github.com/aesteve/nubes#how-it-works

[Here](https://github.com/aesteve/nubes/blob/master/src/test/java/integration

[2017-01-14 18:52] FunnyDevs commented on #65
ok, now it works!

Thanks

[2017-01-14 18:52] #65 closed

[2017-01-18 19:01] FunnyDevs opened #66 "java.lang.ClassNotFoundException: io.vertx.codegen.annotations.ProxyGen"
Hi! I'm trying to implement ProxifyService with nubes. I am able to use vertx proxy with no problem, but with nubes i get this error.

[2017-01-18 20:41] #66 closed

[2017-01-20 16:53] aesteve commented on #66
Is it OK pr are you still facing this issue ?

[2017-01-21 09:06] FunnyDevs commented on #66
No, thank you

[2017-01-21 13:55] FunnyDevs opened #67 "Session object"
I have tried to access Session object (even adding SessionHandler.create), but is always null. How is possibile???

[2017-01-24 07:43] aesteve commented on #67
Can you show me some code of yours ?

This should work, there's even a unit test checking that when you access the session objet from within a controller method it should not be null.

See : https://github.com/aesteve/nubes/blob/master/src/test/java/integration/session/SessionSpec.java
relying on https://github.com/aesteve/nubes/blob/master/src/test/java/mock/controllers/session/SessionAwareContro

[2017-01-24 20:42] FunnyDevs commented on #67
I used routingContext.session() to get session, and it returned null value.
But if i use
`(RoutingContext routingContext,Session session)`
as method sign, session is not null (even if i call it with routingContext.session() inside method)

Thank you

[2017-01-24 20:42] #67 closed

[2017-01-25 09:41] aesteve commented on #67
Ah OK I see.

Yes, if you declare the session in your method, Nubes automatically adds the `SessionHandler` to your route, so that `Session` will never be null.

I'm very interested in every remark you could have in the future, please do not hesitate to open issues just to tell me what you'd like as improvements, and what you're thinking about the framework overall.

[2017-02-06 16:47] morteza opened #68 "Parameter adapter for Boolean.class"
I'm using `@Params` to decode a FormData, but "DefaultParameterAdapter" cannot parse a boolean field to set appropriate value in my bean. It always returns bad request error (400).

[2017-02-07 09:39] lukehutch opened #69 "Suggestion: consider using FastClasspathScanner to find annotations"
I created [FastClasspathScanner](https://github.com/lukehutch/fast-classpath-scanner) for detecting classes and methods with specified Java annotations at runtime.

Nubes currently uses [Reflections](https://github.com/ronmamo/reflections) for its annotation support, which is slower and buggier than FastClasspathScanner (in particular, Reflections is not as actively developed, bug reports can [lan

[2017-02-07 12:49] aesteve commented on #69
tl;dr : Yes ! Absolutely !

Regarding the performances, it shouldn't make that much of a difference, classpath scanning should only be used at server startup and not during runtime (during request/response processing). Especially because it may be blocking and/or involving IOs, but runs in an event-loop. But anyway, any improvement is interesting on this field.

My main concern is, as you mentione

[2017-02-07 12:52] aesteve commented on #68
Thanks for reporting, I'll give it a look as soon as I can

[2017-02-07 13:55] aesteve opened #70 "Use a functional approach"
To open the door to [this proposal](https://groups.google.com/forum/#!topic/vertx/01tCUjTm01s), start a proof of concept within Vert.x Nubes to map any `@FunctionalInterface` as a ` Handler` with "magic" parameter injection.

Cannot be achieved as is since lambdas are not "methods" (when introspected at runtime).

Maybe compilation processing could be involved so that if a "resolving class" is ann

[2017-02-07 14:42] lukehutch commented on #69
@aesteve I may not get time to do this in the next few weeks either, but hopefully the changes won't be extensive, whichever of us attempts it :-)

I do think that server startup time matters a lot, because in case you need to restart the server, on a heavily loaded server milliseconds do matter to user experience. (This is partly why I focused so much on performance in developing FastClasspathSca

[2017-02-07 15:11] aesteve commented on #69
I'll try to find some time.

---------------------------

Re. your issue, beware that a lot of people already asked this before and the answer has often been the same : *"Vert.x is an un-opinionated toolbox, and should remain un-opinionated of the way you're declaring the routes"*. Also, vertx-web aims at being polyglot, which *defacto* excludes the use of annotations (ruby, etc.).

Maybe the posi

[2017-02-07 21:03] lukehutch commented on #69
That's a lot of great thoughts and perspectives. And thanks, I'll check out the other projects you mentioned.

Yes, Vert.x is intentionally trying to become generic and infinitely flexible, without baking in too much high-level, specialized functionality. But for one of its very common usecases (serving HTTP endpoints), it really could make things easier!

Your GSoC propsal is interesting -- you c

[2017-02-15 07:47] #68 closed

[2017-06-17 12:28] Nooheat opened #73 "fuck you"

[2017-06-17 12:28] #73 closed

[2017-06-17 12:30] CHANMYUNG commented on #73
I'm sorry I didn't

Fuckin Brother did XD

[2017-06-17 12:30] CHANMYUNG commented on #73
his github nickname is [rlatjdfo112](https://github.com/rlatjdfo112)

[2017-06-17 12:53] CHANMYUNG commented on #73
Sorry T^T

[2017-06-20 14:34] aesteve commented on #73
Wtf... seriously...

[2017-06-21 04:19] CHANMYUNG commented on #73
Sorry.. I really didn't

[2017-06-21 13:00] yunho1017 opened #74 "nubes session error"
i make server with nubes. but i can't use SessionHandler. when i route sessionHandler, server didn't work.  then i saw a issue, use this code  '(RoutingContext routingContext,Session session)'.
 i try contain session. so i  write this code 'session.put("sessionKey",sessionKey);'. it worked! but i make method sessionCheck. so i write this code (RoutingContext routingContext,Session session). but it

[2017-06-21 13:02] yunho1017 commented on #74
exception of sessionCheck : java.lang.reflect.InvocationTargetException

[2017-06-22 01:26] Nooheat opened #75 "How can I use this with JWT?"
As this title,

how can I use nubes library with JWT authorization ?

Can I use JWT like other servers that don't  use nubes?

[2017-06-22 10:28] aesteve commented on #74
Hello,

Sorry but the issue doesn't sound very very clear to me.

Could you please push, on a minimalist GitHub project, a small case that reproduces the issue.

For example, just a Main class with a single controller using the session.

This way, I can reproduce the bug, add an automatic test case failing reproducing your issue, then fix it (and watch that indeed, the test case passes after the f

[2017-06-22 10:29] aesteve commented on #75
Hello,

How are you using JWT "in other servers that don't use nubes" ? Please. If you can show me how you're dealing with JWT in a plain vertx-web project I can have a look at your issue.

[2017-06-22 10:32] yunho1017 commented on #74
Sorry T.T
`@Controller("/session")
public class SessionController {
	String sessionKey;
	Statement statement;
	ResultSet resultSet;

	@POST("/check")
	public void sessionCheck(RoutingContext ctx) {
		JsonObject jo = new JsonObject();
		Session session = ctx.session();
		String sessionKey = session.get("sessionKey").toString();

		try {
			statement = DataBase.DBconnection();
			resultSet = stateme

[2017-06-22 10:32] CHANMYUNG commented on #75
Umm... I mean...

Exactly, "HOW CAN I USE JWT IN NUBES?"

[2017-06-22 10:32] yunho1017 commented on #74
Here is sessionCheck

[2017-06-22 10:33] yunho1017 commented on #74
and here is account
`@Controller("/account")
public class AccountController {
	Statement statement;
	ResultSet resultSet;

	@POST("/login")
	public void login(RoutingContext ctx, Session session) {
		String id = ctx.request().getFormAttribute("id");
		String password = ctx.request().getFormAttribute("password");

		JsonObject jo = new JsonObject();

		try {
			statement = DataBase.DBconnection();

[2017-06-22 10:33] aesteve commented on #74
Seems related to #57 #67

[2017-06-22 10:38] aesteve commented on #74
Thanks for the source code, but I can't make it work without all the rest of your application.

A "reproducer" is a very simple, standalone project (means : that works on its own, without anything else needed) running and showing the bug in action.

Here I see some `DataBase` access I don't have any access to, etc.

Please understand that reproducing issues from other people is very hard, and it h

[2017-06-22 10:38] yunho1017 commented on #74
oh i use '(RoutingContext ctx, Session session)' in sessionCheck
but result is not differentT.T
and i debug, session in login and session in sessionCheck are different id.

[2017-06-22 10:40] yunho1017 commented on #74
i tried get sessonKey in the session in sessionCheck . String sesionKey was null,,,
`	@POST("/check")
	public void sessionCheck(RoutingContext ctx, Session session) {
		JsonObject jo = new JsonObject();
		String sessionKey = session.get("sessionKey").toString();`

[2017-06-22 10:48] aesteve commented on #75
Ok, let's try to be calm.

Disclaimer : this is the only piece of code in Nubes I did not write myself. So...

The method / controller where JWT is used should be annotated with `@Auth(method = JWT)`
Then on Nubes object, you should set the Auth Provider to a valid JWTAuth (as in Vert.x web).

[code]

[2017-06-22 11:14] CHANMYUNG commented on #75
Um..
There was no intention to make you feel bad. Sorry :(

[2017-06-22 11:21] aesteve commented on #75
No problem. Let me know if this works for you :)

[2017-06-22 11:25] CHANMYUNG commented on #75
I tried, but I couldn't..

Then, are there any Docs of Session or JWT?

before jwt, I also tried to handle session.

but sessions from same host were always different.

session always empty, and  I put values, but next request session is empty.

[2017-06-22 11:26] CHANMYUNG commented on #75
Sorry for bothering you

[2017-06-22 11:49] aesteve commented on #75
No, sorry, as I said that's the only part of nubes I didn't develop by myself.

Please provide a very simple GitHub repository showing the session and / or JWT issue you're facing so that I can give it a look. "Explaining" issues is very very hard. A simple github repository containing all the code (and ONLY the code) needed to reproduce the problem is way better for me.

[2017-06-22 14:15] CHANMYUNG commented on #75
Thank you for your help.

https://github.com/Nooheat/Nubes-Session-Issue

[2017-06-22 15:26] aesteve commented on #75
How are you testing the code ?

I see a Postman capture, but which cookie are you sending ? (for the session to be identified)

[2017-06-22 15:59] CHANMYUNG commented on #75
Um.. I'm just request @POST session/create, and server make a session value.

after, I request @GET session/check, server response a session value.

I didn't request any data

I'm sorry.. T^T
I'm not sure that I exactly understood

[2017-06-22 16:03] CHANMYUNG commented on #75
both two request path don't require any data. because it is "very simple server sample"

NO Cookie

[2017-06-22 16:27] aesteve commented on #75
http://machinesaredigging.com/2013/10/29/how-does-a-web-session-work/

Sessions are using cookies under the hood.

How would the server recognize that it is the same user hitting it with a `GET` request than the user that previously made the `POST` request.

When you make the POST request, the cookie identifying the user should be returned in the response body, then you should use that cookie in t

[2017-06-22 22:17] CHANMYUNG commented on #75
then, I must use cookies to handle sessions?

And how have you ever configure a Vertx server without session or cookie?

Did you use a token authentication scheme like JWT?

[2017-06-27 14:41] ldallen commented on #75
Hi, I don't know if your problem has been solved or not, but here is how JWT worked (2 years ago) with Nubes : https://github.com/ldallen/Nubes-UseCases/tree/master/jwtAuth
Let me know if this helps :)

[2017-08-16 10:27] alan-givati opened #76 "Vert.x version parity"
I started using Nubes which is great and really makes things easier.
However I noticed the Vert.x version supported is 3.3.3, which works.  I would like to user a newer version of Vert.x; 3.4.2.  I prefer the latest GA version of Vert.x, however it seems some changes to Nubes are required to make it work, otherwise there are errors at runtime.  Any plans to update it?

[2017-08-22 12:17] aesteve commented on #76
Hello.

Sorry I have to work on this. Unfortunately no ETA at the moment. I can't work from home since I have no internet connection.

I hope I can work on this asap.

Sorry for the inconvenience.

[2017-08-22 13:33] alan-givati commented on #76
@aesteve Okay, no worries.  Looking forward to the update and thanks for the library!

[2017-10-20 15:05] aesteve commented on #76
I'll need some help unfortunately.

I checked version 3.5, there's soooo much work to do to adapt I'll never have time to do it by myself.

I think I relied on too many internal features of Vert.x.

[2017-11-13 03:59] CHANMYUNG commented on #75
Thanks for your answers !!
<3

[2017-11-13 04:00] #75 closed

[2018-01-15 11:29] pratikpparikh commented on #76
@aesteve do you know what needs to change and do you detail outline of list of things to do?

[2018-01-16 05:43] vietj commented on #76
it would be nice to accept more collaborators to your repo @aesteve so the project can continue to evolve, there seem to be interest for it.

[2018-01-16 11:35] aesteve commented on #76
I'd be really happy to do so !

What do I need to do precisely ? Changing some settings ?

Thanks.

[2018-01-16 14:53] pratikpparikh commented on #76
@aesteve if you can create a Wiki page detailing out the changes required to support the latest version of 3.5 and what you would like to change in way of feature that you think should not have been used as they were internal features and what to avoid.  Once you have documented this, I can then look at how to help you in making this happen.   Also, you might need to add me to the contributor's li

[2018-01-17 06:57] vietj commented on #76
@aesteve I think you can start by adding in the README that you don't actively develop the project anymore but you accept contributions via Pull Requests and you can deploy it on Maven Central to make new versions. So you need to define how people contribute to it and your responsibility is to merge PRs and eventually release it. How does that sound ?

[2018-01-17 10:04] aesteve commented on #76
@vietj I already indicated on top of the README that I can't manage the project anylonger. So I guess this point is covered already.

I can add that any contribution by PR is warmly welcomed, obviously. np with that.

I never deployed Nubes to maven central, so no change on that point.

I can still deploy on jcenter if needed, but I'd be way more confident if people forked the project and deployed

[2018-01-17 11:55] pratikpparikh commented on #76
@aesteve Thanks for some insight.  I will give it a spin this weekend.

[2018-01-19 19:07] pratikpparikh commented on #76
@aesteve Can you provide some documentation for MultipleFutures was/is doing?  You don't have any documentation and I don't want to assume what needs/is to happen with it.

my question is more in line with #56 which is what @vietj wonder, but it is hard to make that call before understanding the full scope of your goals with MultipleFutures and what uses case it solves in details.  #56 has a very

[2018-01-26 12:16] aesteve commented on #76
iirc, most of the code from `MultipleFutures` is now covered by `CompositeFuture`, but there's one huge exception to the rule (last time I checked, at least) :

[This method](https://github.com/aesteve/nubes/blob/master/src/main/java/com/github/aesteve/vertx/nubes/utils/async/MultipleFutures.java#L64) has a very different goal : it launches computations.

[2018-08-26 19:05] classgraph-robot opened #79 "FastClasspathScanner is outdated -- consider porting to ClassGraph"
Your project, `aesteve/nubes`, depends on the outdated library FastClasspathScanner in the following source files:

* [`src/main/java/com/github/aesteve/vertx/nubes/reflections/annotations/impl/FastclassPathScannerProvider.java`](https://github.com/aesteve/nubes/tree/master/src/main/java/com/github/aesteve/vertx/nubes/reflections/annotations/impl/FastclassPathScannerProvider.java)

FastClasspathSc

[2020-04-01 07:42] crtxr1998 opened #80 "Chinese scrambling"
How to uniformly set response.setcontenttype ("text / HTML; charset = UTF-8") for Chinese scrambling;

[2020-04-01 08:47] aesteve commented on #80
Hi, thanks for the issue.

Note, as the disclaimer mentions, that this repository is no longer maintained and should NOT been used.

If you're looking for an "annotation layer" on top of Vert.x you should definitely have a look at [Quarkus](https://quarkus.io).

Thank you.

[2020-04-01 08:47] #80 closed

[2020-04-02 04:09] itxve commented on #80
Thank you.